div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
}
/* Text meant only for screen readers. */
.text-center {text-align:center;}
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
body {
	font-family: $font_main;
	font-size: 14px;
	line-height: 1.4;
}
.wrapper {
	position: relative;
	margin: 0 auto;
	max-width: 1300px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}
.flexrow {
	position: relative;
	@include flexbox();
	@include flexbox-wrap(wrap);
	@include flexbox-direction(row);
}
.site {
	position: relative;
}
.site-header {
	position: relative;
	@include tab {
		min-height: 150px;
		// @include flexbox();
		// @include flexbox-wrap(wrap);
		// @include flexbox-direction(row);
		// @include flexbox-align-content(center);
	}
	.wrapper {
		@include tab {
			@include flexbox();
			@include flexbox-wrap(wrap);
			@include flexbox-direction(row);
			@include flexbox-align-items(center);
			@include flexbox-align-content(center);
		}
	}
	.midwrap {
		@include tab {
			width: 100%;
			position: absolute;
			margin-top: -10px;
		}
	}
}
body.home .site-header {
	@include tab {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 50;
	}
}
.sitename {
	font-family: $font_secondary;
	font-size: 2.5em;
	font-weight: 700;
	line-height: 1.3;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	width: 100%;
	color: #dbd9d6;
	@include tab {
		font-size: 3em;
	}
}
.logo {
	width: 120px;
	margin-top: 15px;
	@include tab {
		width: 160px;
		margin-top: 20px;
	}
	a, img {
		display: block;
		float: left;
	}
	img {
		width: 100%;
		height: auto;
	}
}
.home .hero {
	height: 400px;
	background: #ececec;
	position: relative;
	overflow: hidden;
	@include mid {
		height: 650px;
	}
	@include desk {
		height: 800px;
	}
	.cover {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		&:before {
			content:"";
			display: block;
			width: 100%;
			height: 50%;
			position: absolute;
			top: 0;
			left: 0;
			background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
			background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
		}
	}

	.videowrap {
		background-color: #000;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		position: relative;
		float: left;	
	}
	video {
		min-width: 100%; 
		min-height: 100%;
		width: 100%!important;
		height: auto!important;
		float: left;
		@include tab {
			position: absolute;
		}
		@include mid {
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}
	}
}

.main-navigation {
	width: 100%;
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	li {
		position: relative;
	}
	.navwrap {
		text-align: center;
	}
	.menu {
		@include tab {
			display: inline-block;
		}
	}
	.menu a {
		display: block;
		text-decoration: none;
		font-size: 16px;
	}
	.menu > li > a {
		text-transform: uppercase;
		font-size: 1.25em;
		line-height: 1.3;
		padding: 5px 10px;
		color: #FFF;
		@include tab {
			span {
				display: inline-block;
				position: relative;
				transition: all ease .3s;
			}
			span:after {
				content:"";
				display: inline-block;
				width: 100%;
				height: 1px;
				background: $limegreen;
				position: absolute;
				bottom: -5px;
				left: 0;
				transition: all ease .3s;
				transform: scaleX(0);
				opacity: 0;
			}
		}
	}
	.menu > li:hover > a {
		@include tab {
			span:after {
				transform: scaleX(1);
				opacity: 1;
			}
		}
	}
	.menu > li {
		@include tab {
			float: left;
		}
	}
}
.menu-toggle {
	display: none;
}
