div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
}
a,button,input[type="submit"] {
	transition: all ease-out .3s;
}
.clear:before, .clear:after { content: " "; display: table; }
.clear { *zoom: 1; } .clear {clear: both;}
.text-center {text-align:center;}
/* Text meant only for screen readers. */
.text-center {text-align:center;}
.hide {display:none!important;}
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
body {
	font-family: $font_main;
	font-size: 16px;
	font-style: normal;
	line-height: 1.4;
}
.wrapper {
	position: relative;
	margin: 0 auto;
	max-width: 1300px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}
.midwrap {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
.flexrow {
	position: relative;
	@include flexbox();
	@include flexbox-wrap(wrap);
	@include flexbox-direction(row);
}
.site {
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
}
.site-header {
	position: relative;
	height: 80px;
	@include mid {
		height: auto;
		min-height: 150px;
	}
	.wrapper {
		height: 100%;
		@include mid {
			@include flexbox();
			@include flexbox-wrap(wrap);
			@include flexbox-direction(row);
			@include flexbox-align-items(center);
			@include flexbox-align-content(center);
			height: auto;
		}
	}
	.midwrap {
		max-width: 100%;
		padding-left: 95px;
		padding-right: 50%;
		position: absolute;
		height: 100%;
		@media screen and (min-width:600px) {
			padding-right: 35%;
		}
		@include mid {
			width: 100%;
			height: auto;
			margin-top: -10px;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.arrowbtn {
		display: inline-block;
		width: auto;
		position: absolute;
		top: 24px;
		right: 130px;
		transition: all ease-out .3s;
		@include mid {
			top: 10px;
			right: 8%;
			transform: none;
		}
		@media screen and (min-width:1400px) {
			right: 0;
		}
		@include mid {
			&:hover {
				transform: translateX(10px);
			}
		}
	}

	.enrollbtn {
		display: inline-block;
		width: 100%;
		color: #052b48;
		font-size: 16px;
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		position: relative;
		z-index: 10;
		&:before, &:after {
			content:"";
			display: block;
			position: absolute;
			left: -8px;
			width: 0; 
   			height: 0; 
   			border-left: 8px solid transparent; 
		}
		&:before {
			top: 0;
			border-top: 16px solid $limegreen; 
		}
		&:after {
			bottom: 0;
			border-bottom: 16px solid $limegreen; 
		}
		span {
			display: inline-block;
			background: $limegreen;
			padding: 0 10px 0 13px;
			position: relative;
			z-index: 5;
			line-height: 32px;
			height: 32px;
			letter-spacing: 1px;
			&:after {
				content:"";
				display: block;
				width: 0;
				height: 0;
				border-left: 10px solid $limegreen;
				border-top: 16px solid transparent;
				border-bottom: 16px solid transparent;
				position: absolute;
				top: 0;
				right: -10px;
			}
		}
	}
	.arrowbtn:hover {
		.enrollbtn {
			&:before {
				border-top-color: $brightgreen; 
			}
			&:after {
				bottom: 0;
				border-bottom-color: $brightgreen; 
			}
			span {
				background: $brightgreen;
				&:after {
					border-left-color: $brightgreen;
				}
			}
		}
	}
	.btnshadow {
		display: block;
		position: absolute;
		top: 0;
		left: -3px;
		z-index: 2;
		width: 110%;
		height: 100%;
		&:before, &:after {
			content: "";
			display: block;
			width: 98%;
			position: absolute;
			left: 0;
			background: $limegreen;
			height: 16px;
			box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
		}
		&:before {
			top: 0;
			transform: skew(30deg);
			
		}
		&:after {
			bottom: 0;
			transform: skew(-30deg);
		}
	}
}
body.home .site-header {
	@include mid {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 50;
	}
}
.sitename {
	font-family: $font_secondary;
	font-size: 1.3em;
	font-weight: 500;
	line-height: 1.3;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 3px;
	width: auto;
	color: $blue;
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	padding-left: 95px;
	padding-right: 250px;
	transition: all ease-out .3s;
	@include flexbox();
	@include flexbox-align-items(center);
	@include mid {
		position: static;
		display: inline-block!important;
		width: 100%;
		text-align: center;
		color: #dbd9d6;
		font-size: 2.5em;
		height: auto;
		padding-right: 0;
		padding-left: 0;
	}
	@include desk {
		font-size: 2.8em;
	}

	@media screen and (max-width:560px) {
		font-size: 1em;
	}
	@media screen and (max-width:480px) {
		display: none;
	}
}
.logo {
	width: 70px;
	height: 100%;
	margin-top: 0;
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 150;
	@include mid {
		height: auto;
		position: static;
		width: 160px;
		margin-top: 20px;
	}
	a {
		position: relative;
    	top: 2px;
		padding: 2px 0;
		@include mid {
			padding: 0 0;
			top: 0;
		}
	}
	a, img {
		display: block;
		float: left;
	}
	img {
		width: 100%;
		height: auto;
	}
}
.home .hero {
	height: auto;
	background: #ececec;
	position: relative;
	overflow: hidden;
	width: 100%;
	float: left;
	@media screen and (min-width:1400px) {
		height: 850px;
	}
	.cover {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		&:before {
			content:"";
			display: block;
			width: 100%;
			height: 50%;
			position: absolute;
			top: 0;
			left: 0;
			background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
			background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
		}
	}

	.videowrap {
		background-color: #000;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		position: relative;
		float: left;	
	}
	video {
		min-width: 100%; 
		min-height: 100%;
		width: 100%!important;
		height: auto!important;
		float: left;
		@include tab {
			position: absolute;
		}
		@include mid {
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}
	}
}

/* MENU */
.main-navigation {
	display: block;
	width: 100%;
	transition: all ease-out .5s;
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	li {
		position: relative;
	}
	.navwrap {
		text-align: center;
	}
	.menu {
		@include tab {
			display: inline-block;
		}
	}
	.menu a {
		display: block;
		text-decoration: none;
		font-size: 16px;
	}
	.menu > li > a {
		text-transform: uppercase;
		font-size: 1.25em;
		line-height: 1.3;
		padding: 5px 10px;
		color: #FFF;
		@include tab {
			span {
				display: inline-block;
				position: relative;
				transition: all ease .3s;
			}
			span:after {
				content:"";
				display: inline-block;
				width: 100%;
				height: 1px;
				background: $limegreen;
				position: absolute;
				bottom: -5px;
				left: 0;
				transition: all ease .3s;
				transform: scaleX(0);
				opacity: 0;
			}
		}
	}
	.menu li.current_page_item > a,
	.menu li.current_page_item:hover > a,
	.menu > li:hover > a {
		@include tab {
			span:after {
				transform: scaleX(1);
				opacity: 1;
			}
		}
	}
	.menu > li {
		@include tab {
			float: left;
		}
	}
}

@media screen and (max-width:$midwidth - 1px) {
	.main-navigation {
		position: absolute;
		top: 80px;
		left: -20px;
		width: 100%;
		z-index: 200;
		background: $blue;
		opacity: 0;
		height: 0px;
		max-height: 0px;
		overflow: hidden;
		&.open {
			opacity: 1;
			height: auto;
			max-height: 800px;
			overflow: visible;
		}
		.menu,
		.menu li {
			width: 100%;
		}
		.menu {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.menu > li > a {
			color: #FFF;
			padding: 12px 10px;
			font-size: 1.45em;
		}
	}	
}
.menu-toggle {
	display: block;
	position: absolute;
	top: 0;
	right: 25px;
	width: 70px;
	height: 100%;
	background: transparent;
	-webkit-appearance: none;
	border: none;
	text-shadow: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0 15px;
	@include mid {
		display: none;
	}
	span.bar {
		display: block;
		position: relative;
	}
	span.bar,
	span.bar:before,
	span.bar:after {
		width: 100%;
		height: 5px;
		background: $blue;
		transition: all ease-out .3s;
	}
	span.bar:before,
	span.bar:after {
		content:"";
		display: block;
		width: 100%;
		position: absolute;
		left: 0;
	}
	span.bar:before {
		top: -11px;
	}
	span.bar:after {
		top: 11px;
	}
	&.open {
		span.bar {
			background-color: transparent;
		}
		span.bar:before {
			transform: translateY(11px) rotate(45deg);
		}
		span.bar:after {
			transform: translateY(-11px) rotate(-45deg);
		}
	}
}

/* end of MENU */
.home {
	.site-content.wrapper {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}
.section-intro {
	background-image:url('images/patternBlue.png');
	background-repeat: repeat;
	background-position: center;
	background-color: $navyblue;
	color: #FFF;
	.midwrap {
		padding-top: 5%;
		padding-bottom: 5%;
		font-size: 1.8em;
		background-image:url('images/shape-intro.png');
		background-size: 25%;
		background-repeat: no-repeat;
		background-position: center;
	}
}
.section-why {
	position: relative;
	z-index: 5;
	.colwrap {
		width: 100%;
		float: left;
	}
	.col {
		width: 100%;
		float: left;
		position: relative;
	}
	.flexrow {
		position: relative;
		@include flexbox-align-items(center);
	}
	.imagecol {
		background-color: $lightgrey;
		@include tab {
			width: 28%;
		}
		@include mid {
			width: 35%;
		}
		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}
	.textcol {
		z-index: 5;
		@include tab {
			width: 72%;
		}
		@include mid {
			width: 65%;
		}
		.text {
			padding-left: 10%;
			padding-right: 10%;
			font-size: 1.5em;
			@include mid {
				padding-left: 10%;
				padding-right: 10%;
			}
		}
		ul {
			margin: 0 0 35px 20px;
			padding: 0 0;
			list-style: none;
			@include mid {
				margin-bottom: 45px;
			}
		}
		li {
			position: relative;
			margin: 10px 0;
			padding-left: 15px;
			@include mid {
				margin-top: 15px;
				margin-bottom: 15px;
			}
			&:before,
			&:after {
				content:"";
				display: block;
				position: absolute;
				left: 0;
				width: 4px;
				height: 6px;
				background: $limegreen;
			}
			&:before {
				top: 8px;
				transform: skew(25deg);
			}
			&:after {
				top: 14px;
				transform: skew(-25deg);
			}
		}
	}
	.section-title {
		width: 100%;
		position: relative;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 75px;
		@include mid {
			position: absolute;
			top: -20px;
			left: 0;
			display: inline-block;
			margin-left: -10%;
			margin-top: 0;
			margin-bottom: 0;
		}
		span {
			display: inline-block;
			background: $navyblue;
			color: #FFF;
			text-transform: uppercase;
			font-size: 1.8em;
			line-height: 1;
			padding: 12px 30px;
			position: relative;
			&:before,&:after {
				content:"";
				display: inline-block;
			}
			&:before {
				width: 0; 
				height: 0; 
				border-bottom: 25px solid $navyblue;
				border-left: 20px solid transparent; 
				position: absolute;
				bottom: 0;
				left: -20px;
			}
			&:after {
				width: 20px;
				height: 2px;
				background: $limegreen;
				position: absolute;
				bottom: -5px;
				left: -20px;
			}
			i {
				display: block;
				width: 100%;
				height: 2px;
				background: $limegreen;
				position: absolute;
				bottom: -5px;
				left: 0;
			}
		}
	}
}
.hashtagwrap {
	width: 100%;
	float: left;
	background: $limegreen;
	position: relative;
	margin-top: 30px;
	@include mid {
		margin-top: -30px;
	}
	.hashtag {
		color: #FFF;
		font-size: 1.5em;
		font-weight: 600;
		line-height: 1.3;
		padding-left: 30px;
    	padding-right: 30px;
    	padding-top: 12px;
    	padding-bottom: 12px;
    	position: relative;
    	width: 100%;
		@include tab {
			padding-left: 7%;
			padding-right: 7%;
			width: 72%;
			float: right;
		}
		@include mid {
			width: 65%;
		}
		.txt {
			position: relative;
			z-index: 5;
			width: 100%;
			overflow: hidden;
			@include flexbox();
			@include flexbox-wrap(wrap);
			@include flexbox-align-items(center);
			span {
				position: relative;
				z-index: 5;
				background: $limegreen;
				padding-right: 15px;
			}
		}
		.lines {
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background: #FFF;
			&:before, &:after {
				content:"";
				display: block;
				width: 100%;
				height: 2px;
				background: #FFF;
				position: absolute;
				left: 0;
			}
			&:before {
				top: -6px;
			}
			&:after {
				top: 6px;
			}
		}
	}
}
.section-full {
	.t2 {
		text-transform: uppercase;
		color: $navyblue;
		font-size: 35px;
		font-weight: 600;
		margin: 0 0;
	}
}
.section-boxes {
	padding-top: 20px;
	padding-bottom: 20px;
	.box {
		padding: 20px;
		text-align: center;
		margin: 20px 0;
		@include tab {
			width: 33.3%;
			margin: 0 0;
		}
		.inside {

		}
	}
	h3.title {
		margin: 0 0 25px;
		font-size: 1.45em;
		font-weight: 600;
		line-height: 1.2;
		text-transform: uppercase;
		color: $navyblue;
	}
	.boximage {
		width: 100%;
		float: left;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #e8e8e8;
		position: relative;
		text-align: center;
		margin-bottom: 30px;
		&.no-image {
			&:before {
				content:"Image Coming Soon";
				display: inline-block;
				width: 100%;
				color: #c3c3c3;
				font-size: 1.5em;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				z-index: 5;
				text-align: center;
			}
		}
	}
	.boximage img {
		width: 100%;
		height: auto;
		float: left;
	}
	.description {
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-top: 2px solid $limegreen;
		font-size: 1.1em;
    	font-weight: 400;
	}
	.desc {

	}
	.btndiv {

	}
	p {
		margin-top: 15px;
	}
	p:first-child {
		margin-top: 0;
	}
	.morebtn {
		display: inline-block;
		text-decoration: none;
		color: $navyblue;
		font-weight: 500;
		font-size: .95em;
		position: relative;
		padding: 4px 10px;
		.fa-chevron-right {
			position: absolute;
			top: 11px;
			right: -2px;
			font-size: 9px;
			transition: all ease .3s;
		}
		&:hover {
			color: $blue;
			.fa-chevron-right {
				right: -6px;
			}
		}
	}
}

.section-testimonials {
	background: $blue;
	color: #FFF;
	padding-top: 40px;
	padding-bottom: 40px;
	.wrapper {
		position: relative;
		@include tab {
			padding-left: 50px;
			padding-right: 50px;
		}
		@include desk {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.flexrow {
		@include flexbox-align-items(center);
	}
	img.px {
		width: 100%;
		height: auto;
		float: left;
	}
	.photo-outer {
		position: relative;
		padding: 35px;
		width: 60%;
		float: none;
		border-radius: 100%;
		overflow:hidden;
		box-shadow: inset 0px 0px 0px 2px $blue;
		margin: 0 auto;
		@include tab {
			width: 100%;
			float: left;
		}
	}
	.photo {
		width: 100%;
		float: left;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #e8e8e8;
		position: relative;
		text-align: center;
		border-radius: 100%;
		overflow:hidden;
		border: 8px solid $blue;
		border-radius: 100%;
		box-shadow: inset 0px 0px 0px 5px #FFF;
		z-index: 10;
		&.no-image {
			&:before {
				content:"Image Coming Soon";
				display: inline-block;
				width: 100%;
				color: #c3c3c3;
				font-size: 1.5em;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				z-index: 5;
				text-align: center;
			}
		}
	}
	.hlines {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		border-radius: 100%;
		div {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-image: linear-gradient(0deg, #ffffff 11.54%, #4099cd 11.54%, #4099cd 50%, #ffffff 50%, #ffffff 61.54%, #4099cd 61.54%, #4099cd 100%);
			background-size: 26.00px 26.00px;
			border-radius: 100%;
			border: 5px solid $blue;
		}
		&:before, &:after {
			content:"";
			display: block;
			width: 110%;
			height: 25%;
			position: absolute;
			left: 0;
			z-index: 2;
			background: $blue;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
	}
	.col.right {
		width: 100%;
		@include tab {
			width: 40%;
			padding-left: 30px;
		}
		@include desk {
			width: 25%;
		}
	}
	.col.left {
		font-size: 1.3em;
		font-weight: 500;
		font-style: italic!important;
		width: 100%;
		line-height: 1.3;
		@include tab {
			font-size: 1.3em;
			width: 60%;
		}
		@include desk {
			font-size: 1.4em;
			width: 75%;
		}
		.inside {
			padding: 20px 20px;
			@include tab {
				padding: 20px 30px 20px 30px;
			}
			@include mid {
				padding: 20px 30px 20px 50px;
			}
		}
		p:first-child {
			margin-top: 0;
		}
		.name {
			font-style: normal;
			font-weight: 400;
			font-size: .85em;
		}
	}
}
#testimony-carousel {
	.owl-nav button {
		overflow: hidden;
		width: 80px;
		height: 80px;
		background: transparent;
		position: absolute;
		top: 30%;
		transform: translateY(-30%) scale(0.65);
		z-index: 20;
		transition: all ease-out .3s;
		opacity: 0.45;
		@include tab {
			top: 50%;
			transform: translateY(-50%) scale(0.65);
		}
		@include desk {
			top: 50%;
			transform: translateY(-50%) scale(1);
		}
		&:before, &:after {
			content:"";
			display: block;
			width: 100%;
			height: 2px;
			background: #FFF;
			position: absolute;
		}
		&:hover {
			opacity: 1;
		}
	}
	.owl-prev {
		left: -4%;
		@include tab {
			left: -50px;
		}
		&:before, &:after {
			left: 0;
		}
		&:before {
			transform: translateY(-30px) rotate(-50deg);
		}
		&:after {
			transform: translateY(30px) rotate(50deg);
		}
	}
	.owl-next {
		right: -4%;
		@include tab {
			right: -50px;
		}
		&:before, &:after {
			right: 0;
		}
		&:before {
			transform: translateY(-30px) rotate(50deg);
		}
		&:after {
			transform: translateY(30px) rotate(-50deg);
		}
	}
}

.site-footer {
	background: $navyblue;
	color: rgba(255,255,255,.65);
	padding: 24px 0 25px;
	font-size: 16px;
	.col {
		display: inline-block;
		padding: 3px 5%;
	}
	a {
		text-decoration: none;
		color: rgba(255,255,255,.65);
		&:hover {
			color: rgba(255,255,255,1);
		}
	}
	.social-media {
		a {
			display: inline-block;
			font-size: 25px;
			color: rgba(255,255,255,.5);
			margin: 0 5px;
			position: relative;
			top: 4px;
			&:hover {
				color: rgba(255,255,255,1);
			}
		}
	}
}

body.subpage {
	.sitename {
		color: $blue;
		margin-bottom: 10px;
	}
	.main-navigation .menu > li > a {
		@include mid {
			color: $navyblue;
		}
	}
	.main-navigation .menu li.current_page_item > a, 
	.main-navigation .menu li.current_page_item:hover > a {
		font-weight: 600;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		font-style: normal;
	}
	h1 { font-size: 2.8em; }
	h2 { font-size: 2.2em; }
	h3 { font-size: 2em; }
	h4 { font-size: 1.8em; }
	h5 { font-size: 1.5em; }
	h6 { font-size: 1.3em; }
}

.subpage-banner {
	position: relative;
	min-height: 400px;
	background: #CCC;
	img.banner {
		width: 100%;
		height: auto;
		float: left;
	}
}
.content-area,
.entry-content {
	font-style: normal;
}
.content-area.default {
	.site-main {
		min-height: 40em;
	}
	.entry-content {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.page-header {
		margin: 0 0;
		background: $blue;
		color: #FFF;
		padding: 15px 0;
		position: relative;
		text-align: center;
		h1 {
			margin: 0 0;
			font-weight: 500;
			font-size: 28px;
			line-height: 1.3;
			text-transform: uppercase;
			position: relative;
			span.title {
				display: inline-block;
				position: relative;
				z-index: 5;
				background: $blue;
				padding: 0 15px;
			}
			span.stripe {
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				@include flexbox();
				@include flexbox-wrap(wrap);
				@include flexbox-align-items(center);
				i {
					display: block;
					width: 100%;
					height: 2px;
					background: #FFF;
					margin-top: 1px;
					&:before,&:after {
						content:"";
						display: block;
						width: 100%;
						height: 2px;
						background: #FFF;
						position: relative;
					}
					&:before {
						top: -6px;
					}
					&:after {
						top: 5px
					}
				}
			}
		}

	}
}

body.subpage {
	&.hasbanner {
		.subpage-banner {
			top: -25px;
		}
		.content-area.default {
			.page-header {
				position: relative;
				top: -25px;
			}
			.entry-content {
				padding-top: 0;
			}
		}
	}
	&.nobanner {
		.content-area.default {
			position: relative;
			top: -25px;
		}
	}
}
.content-area {
	font-size: 18px;
	line-height: 1.5;
	position: relative;
}
.entry-content {
	position: relative;
	.innerpad {
		width: 100%;
		float: left;
		position: relative;
	}
	&.twocol .innerpad {
		.vline {
			content:"";
			display: block;
			@include mid {
				position: absolute;
				top: 0;
				left: 0;
				width: 24%;
				height: 100%;
				border-right: 2px solid $limegreen;
				&:before, &:after {
					content:"";
					display: block;
					width: 2px;
					height: 10%;
					position: absolute;
					right: -2px;
					background: #FFF;
					z-index: 3;
				}
				&:before {
					top: 0;
				}
				&:after {
					bottom: 0;
				}
			}
		}
	}
	&.twocol .flexrow {
		@include flexbox-align-items(center);
	}
	.col {
		position: relative;
		z-index: 2;
	}
	.stitlecol {
		@include mid {
			width: 25%;
			float: left;
			padding-right: 20px;
		}
		h2 {
			margin: 0 0;
			color: $navyblue;
			font-size: 2.1em;
			font-weight: 500;
			line-height: 1.1;
			display: inline;
		}
	}
	.intro.col {
		@include mid {
			width: 75%;
			float: left;
			padding-left: 20px;
		}
	}
	.intro p {
		margin-top: 0;
	}
	.intro p:last-child {
		margin-bottom: 0;
	}
}

.message-faculty {
	width: 100%;
	float: left;
	margin-top: 30px;
	color: $navyblue;
	font-size: 0.85em;
	font-weight: 500;
    font-style: italic;
	.pad {
		background: $limegreen;
		padding: 10px 15px;
	}
}

body.subpage .section {
	h2 {
		margin: 0 0;
		color: #052843;
		font-size: 2.1em;
		font-weight: 500;
		font-style: normal;
		line-height: 1.1;
		display: block;
		&.hd2 {
			margin-top: 40px;
		}
	}
	h2.notfound {
		font-size: 1.5em;
		margin-top: 30px;
		a.reset {
			text-decoration: none;
			font-size: 0.65em;
			display: inline-block;
			padding: 5px 10px;
			background: $limegreen;
			position: relative;
			top: -3px;
			margin-left: 10px;
			color: #333;
		}
	}
}
.postslist {
	position: relative;
	.posts-inner {
		margin: 0 -5px;
	}
	.boxinfo {
		width: 100%;
		padding: 5px;
		box-sizing: border-box;
		@include tab {
			width: 50%;
		}
		@include mid {
			width: 25%;
		}
	}
	.inside {
		display: block;
		background-color: #dadada;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		float: left;
		overflow: hidden;
		position: relative;
		transition: all ease .3s;
	}
	img.px {
		width: 100%;
		height: auto;
		float: left;
	}
	.link {
		cursor: pointer;
		display: block;
		float: left;
		width: 100%;
		position: relative;
		&:hover {
			.inside {
				border: 2px solid #FFF;
				transform: scale(1.1);
				z-index: 20;
				box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.85);
			}
		}
	}
	.caption {
		display: block;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 5;
	}
	.blue, .green {
		display: block;
		padding: 8px 10px;
		width: 100%;
		float: left;
	}
	.blue {
		background: $navyblue;
		color: #FFF;
	}
	.green {
		background: $limegreen;
		color: $navyblue;
		font-size: 0.7em;
		line-height: 1.1;
		.inner {
			display: block;
			width: 100%;
			float: left;
		}
		.spancol {
			display: block;
			width: 50%;
			float: left;
			&.confirm {
				text-align: right;
			}
		}
	}
	.name {
		margin: 0 0 3px;
		font-size: 1em;
		font-weight: 500;
		line-height: 1.1;
		color: #FFF;
	}
	.position {
		font-style: italic;
		font-weight: 400;
		font-size: 0.75em;
		line-height: 1.2;
	}
	.noimage {
		display: block;
		width: 100%;
		height: 100%;
		float: left;
		position: absolute;
		top: 0;
		left: 0;
		background-image:url("images/photo-coming.png");
		background-size: 90%;
		background-position: bottom center;
		background-repeat: no-repeat;
	}
}

.section.faculties {
	padding-bottom: 80px;
	position: relative;
}
.faculties-posts {
	margin-top: 30px;
}

.faculty-terms {
	max-width: 900px;
	width: 100%;
	margin: 25px auto 20px;
	.termbox {
		box-sizing: border-box;
		padding: 0 15px;
		@include tab {
			width: 33.3%;
		}
		label {
			display: block;
			width: 100%;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.2;
			margin-bottom: 5px;
		}
		select {
			width: 100%;
			height: 33px;
			line-height: 33px;
		}
	}
}
.select2-container {
	display: block;
	width: 100%!important;
	border-radius: 0px;
	.selection,
	.select2-selection {
		display: block;
		width: 100%;
	}
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	height: 33px;
	line-height: 33px;
}
.select2-container .select2-selection--single {
	height: 33px;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	background: #e8e8e8;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 33px;
	width: 25px;
	background: #a6d339;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	position: absolute;
	top: 0px;
    right: 0px
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #092e4b transparent transparent transparent!important;
	border-width: 10px 5px 0 5px!important;
	position: absolute;
	top: 13px;
	left: 12px;
	&:before {
		content: "";
		display: inline-block;
		width: 0px;
		height: 0px;
		position: absolute;
		top: -9px;
		left: -3px;
		border-top: 6px solid #a6d339;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
	}
}
.select2-dropdown {
	border: 1px solid #e8e8e8;
}
.select2-container--open.select2-container--default .select2-selection--single .select2-selection__arrow b {
	transform: rotate(180deg);
}
.total-found {
	padding: 5px 0 15px;
	font-size: 20px;
}

.pagination {
	margin-top: 20px;
	text-align: center;
	a,span {
		display: inline-block;
		text-decoration: none;
		background: #CCC;
		padding: 8px 12px;
    	line-height: 1;
    	margin:3px 2px;
    	color: #333;
	}
	a:hover {
		opacity: 0.45;
	}
	span {
		background: $navyblue;
		color: #FFF;
	}
}


.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loaderwrap {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -999;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.85);
	visibility: hidden;
	opacity: 0;
	transition: all ease .3s;
	&.show {
		visibility: visible;
		opacity: 1;
		z-index: 1000;
	}
	.loader {
		margin-top: 20%;
	}
}
#loaderdiv {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background: rgba(0,0,0,.88);
	background: rgba(8, 49, 74, 0.95);
	z-index: 3000;
	&.show {
		@include flexbox();
		@include flexbox-align-items(center);
		@include flexbox-justify(center);
	}
	.loader, .loader:after {
		width: 8em;
		height: 8em;
	}
}

#facultyfilter {
	.input-button {
		display: none;
	}
}

.popupwrapper {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
	background: rgba(8, 49, 74, 0.95);
	padding: 30px;
	font-size: 18px;
	&.fadeIn{
		display: block;
	}
	.maincontent {
		max-width: 1000px;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: relative;
	}
	.popclose {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		text-align: right;
		.mid {
			max-width: 1000px;
			width: 100%;
			margin: 0 auto;
			position: relative;
			padding: 0;
		}
	}
	#closeplacement {
		position: absolute;
		top: 10px;
		right: 15px;
	}
	#closepopup {
		display: inline-block;
		width: 32px;
		height: 32px;
		background: #000;
		border-radius: 100%;
		color: #FFF;
		font-size: 1em;
		font-weight: 600;
		line-height: 1;
		border: 2px solid #FFF;
		position: absolute;
	    top: 20px;
	    right: 18px;
		text-decoration: none;
		text-align: center;
		@media screen and (min-width:1000px) {
			right: -12px;
		}
		span {
			position: relative;
			top: 3px;
			left: 1px;
		}
	}
	.inner {
		width: 100%;
		height: 100%;
		float: left;
		color: #333;
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
		@include flexbox-align-items(center);
		overflow-y:scroll;
		overflow-x: hidden;
	}
	.textwrap {
		border-radius: 6px;
		background: #FFF;
		padding: 30px;
		position: relative;
		box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
	}

	.content-left.haspic {
		width: 100%;
		float: left;
		margin-bottom: 30px;
		@include tab {
			width: 66%;
			float: left;
			margin-bottom: 0;
		}
	}
	.content-right {
		@include tab {
			width: 30%;
			float: right;
		}
		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}
	h1.ptitle {
		margin: 0 0 5px;
		font-size: 2.3em;
		font-weight: 500;
		line-height: 1;
		color: $navyblue;
	}
	.headertitle {
		margin-bottom: 25px;
		.position {
			font-weight: 600;
			font-size: 0.95em;
			margin-top: 7px;
			margin-bottom: 10px;
			color: #074e84;
			span.vt {
				font-weight: 400;
				padding: 0 7px;
			}
		}
		.otherinfo {
			font-weight: 600;
			font-size: 0.95em;
			color: #074e84;
		}
	}
	p:first-child {
		margin-top: 0;
	}
}
body.modal-open {
	overflow: hidden;
}
body.admin-bar .popupwrapper {
	padding: 70px 30px 30px;
	#closepopup {
		top: 56px;
	}
}
.contentcol-left.haspic {
	width: 100%;
	float: left;
	margin-bottom: 30px;
	@include tab {
		width: 66%;
		float: left;
		margin-bottom: 0;
	}
}
.contentcol-right {
	@include tab {
		width: 30%;
		float: right;
	}
	img {
		width: 100%;
		height: auto;
		float: left;
	}
}
.faculty-single {
	.entry-header {
		margin-top: 80px;
		margin-bottom: 30px;
	}
	h1.pagetitle {
		margin: 0 0;
		font-size: 2.3em;
		font-weight: 500;
		line-height: 1;
		color: $navyblue;
	}
	.position {
		font-weight: 600;
		font-size: 0.95em;
		margin-top: 7px;
		margin-bottom: 10px;
		color: #074e84;
		span.vt {
			font-weight: 400;
			padding: 0 7px;
		}
	}
	.otherinfo {
		font-weight: 600;
		font-size: 0.95em;
		color: #074e84;
	}
}

.post-edit {
	color: #1f79ea;
	text-decoration: none;
	font-size: 16px;
	border: 1px solid #1f79ea;
	display: inline-block;
	padding: 3px 15px;
}
