$color_background-body: #FFFFFF;
$color_link: royalblue;
$color_link_visited: purple;
$color_link_hover: midnightblue;
$color_text_main: #404040;
$color_black: #000;

$tabwidth: 600px;
$midwidth: 900px;
$deskwidth: 1200px;